body {
  margin-top: 140px;
  background-color: #fafafa; }

.navbar {
  box-shadow: 2px 2px 5px #3292a6;
  background: #fff; }
  .navbar .nav-item {
    font-size: 1.2rem;
    padding-right: 20px; }

h1 {
  color: #3292a6; }

h3 {
  color: #323232; }

#portfolio img:hover {
  opacity: 0.8; }

footer {
  box-shadow: 2px -2px 5px #3292a6;
  background: #3292a6;
  width: 100%; }
