// Main Sass File
$primary: #3292a6;
$primary-overlay: rgba(50, 146, 166, 0.3);

body {
  margin-top: 80px;
}

.navbar {
  box-shadow: 2px 2px 5px $primary;
  opacity: 0.9;
  background: #fff;

  .nav-item {
    font-size: 1.2rem;
    padding-right: 20px;
  }
}

h1 {
  color: $primary;
}
